In [63]:
import pandas as pd
import regex as re
from datetime import datetime, timedelta
import numpy as np
from dateutil import relativedelta as rdelta

In [2]:
Data_File = pd.read_excel('../data/TEIS Exit Data for NSS.xlsx', sheet_name = 'Exit Notes')

In [3]:
Data_File.head()

,POE,Child ID,DOB,Notification Date,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note
0,UC,471738,2019-02-28,2019-10-17,2019-10-29,2019-10-31,2020-05-12,618 - Parent withdraw,2020-09-21,326,* No Exit ECO available due to COVID-19
1,FT,449030,2018-07-22,2018-11-07,2018-12-03,2018-12-18,2021-03-04,618 - Moved out of state,2021-03-06,809,"***family moving out of state March 2021, and ..."
2,FT,463311,2017-07-09,2019-05-24,2019-06-19,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,372,**Completed the transition planning conference...
3,FT,463313,2017-07-09,2019-05-24,2019-06-19,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,372,**Completed the transition planning conference...
4,FT,469194,2017-08-31,2019-09-04,2019-10-02,2019-10-11,2020-05-26,618 - Part B eligibility not determined,2020-08-30,324,**Due to the impact of the COVID-19 pandemic a...

In [4]:
Exit_Notes=Data_File.copy()

In [5]:
Exit_Notes=Exit_Notes.drop(columns=['POE','Notification Date','Initial Eligibility Date','Days from I-IFSP to Exit'])

In [6]:
Exit_Notes.head()

,Child ID,DOB,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Exit Note
0,471738,2019-02-28,2019-10-31,2020-05-12,618 - Parent withdraw,2020-09-21,* No Exit ECO available due to COVID-19
1,449030,2018-07-22,2018-12-18,2021-03-04,618 - Moved out of state,2021-03-06,"***family moving out of state March 2021, and ..."
2,463311,2017-07-09,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...
3,463313,2017-07-09,2019-07-02,2020-06-22,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...
4,469194,2017-08-31,2019-10-11,2020-05-26,618 - Part B eligibility not determined,2020-08-30,**Due to the impact of the COVID-19 pandemic a...

In [7]:
Exit_Notes=Exit_Notes.drop(columns='Latest IFSP Date')

In [8]:
Exit_Notes.head()

,Child ID,DOB,Initial IFSP Date,Exit Reason,Exit Date,Exit Note
0,471738,2019-02-28,2019-10-31,618 - Parent withdraw,2020-09-21,* No Exit ECO available due to COVID-19
1,449030,2018-07-22,2018-12-18,618 - Moved out of state,2021-03-06,"***family moving out of state March 2021, and ..."
2,463311,2017-07-09,2019-07-02,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...
3,463313,2017-07-09,2019-07-02,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...
4,469194,2017-08-31,2019-10-11,618 - Part B eligibility not determined,2020-08-30,**Due to the impact of the COVID-19 pandemic a...

In [10]:
 from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>.output_result { max-width:100% !important; }</style>"))

In [14]:
pd.to_datetime(Exit_Notes['Exit Date'], format='%Y/%m/%d')
pd.to_datetime(Exit_Notes['DOB'], format='%Y/%m/%d')
pd.to_datetime(Exit_Notes['Initial IFSP Date'], format='%Y/%m/%d')
Exit_Notes['Age_at_Exit']=(Exit_Notes['Exit Date']-Exit_Notes['DOB'])

In [15]:
Exit_Notes.head()

,Child ID,DOB,Initial IFSP Date,Exit Reason,Exit Date,Exit Note,Age_at_Exit
0,471738,2019-02-28,2019-10-31,618 - Parent withdraw,2020-09-21,* No Exit ECO available due to COVID-19,571 days
1,449030,2018-07-22,2018-12-18,618 - Moved out of state,2021-03-06,"***family moving out of state March 2021, and ...",958 days
2,463311,2017-07-09,2019-07-02,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...,1095 days
3,463313,2017-07-09,2019-07-02,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...,1095 days
4,469194,2017-08-31,2019-10-11,618 - Part B eligibility not determined,2020-08-30,**Due to the impact of the COVID-19 pandemic a...,1095 days

In [21]:
Exit_Notes['Age_at_Exit']/np.timedelta64(1,'Y')

0       1.563345
1       2.622915
2       2.998008
3       2.998008
4       2.998008
          ...
5577    2.401144
5578    2.998008
5579    2.034265
5580    2.998008
5581    0.785779
Name: Age_at_Exit, Length: 5582, dtype: float64

In [32]:
Exit_Notes['Age_at_Exit']=Exit_Notes['Age_at_Exit'].astype('timedelta64[Y]')

In [34]:
Exit_Notes['Age_at_Exit']=Exit_Notes['Age_at_Exit'].astype(int)

In [57]:
Exit_Notes_Agegroup=Exit_Notes.groupby(['Age_at_Exit'])['Child ID'].count()

In [56]:
Exit_Notes_3yr=Exit_Notes.loc[Exit_Notes.Age_at_Exit == 3]

In [48]:
Exit_Notes_2yr=Exit_Notes.loc[Exit_Notes.Age_at_Exit == 2  ]

In [49]:
Exit_Notes_2yr.head()

,Child ID,DOB,Initial IFSP Date,Exit Reason,Exit Date,Exit Note,Age_at_Exit
1,449030,2018-07-22,2018-12-18,618 - Moved out of state,2021-03-06,"***family moving out of state March 2021, and ...",2
2,463311,2017-07-09,2019-07-02,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...,2
3,463313,2017-07-09,2019-07-02,618 - Part B eligibility not determined,2020-07-08,**Completed the transition planning conference...,2
4,469194,2017-08-31,2019-10-11,618 - Part B eligibility not determined,2020-08-30,**Due to the impact of the COVID-19 pandemic a...,2
5,473474,2017-11-05,2020-05-06,618 - Part B eligibility not determined,2020-11-04,**LEA county on the Transition page and demogr...,2

In [58]:
Exit_Notes_2yr_reason=Exit_Notes_2yr.groupby(['Exit Reason'])['Child ID'].count().sort_values(ascending=False)

In [60]:
Exit_Notes_reason=Exit_Notes.groupby(['Exit Reason'])['Child ID'].count().sort_values(ascending=False)

In [75]:

Exit_Notes['child_3rd_birthday']=Exit_Notes['DOB'] + pd.offsets.DateOffset(years=3)

In [66]:
Exit_dueto_age=Exit_Notes.loc[(Exit_Notes['Exit Date'] == Exit_Notes['child_3rd_birthday']) | (Exit_Notes['Exit Date'] == Exit_Notes['child_3rd_birthday']-timedelta(days=1))]

In [67]:
Exit_dueto_age.groupby(['Exit Reason'])['Child ID'].count().sort_values(ascending=False)

Exit Reason
618 - Part B eligibility not determined                                 1736
618 - Part B eligible                                                   1085
618 - Not eligible for Part B – Exit with referral to other programs     237
618 - Not eligible for Part B – Exit with no referrals                   145
618 - Completion of IFSP/ no longer requires services                     31
618 - Attempts to contact unsuccessful                                    12
618 - Parent withdraw                                                     12
618 - Deceased                                                             1
618 - Moved out of state                                                   1
Name: Child ID, dtype: int64

In [68]:
ECO_with_Exit20_21_Actual=pd.read_csv('../data/ECO_with_Exit20_21_Actual_Analysis.csv')

In [70]:
ECO_with_Exit20_21_Actual.head()

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 - e,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Actual_Service_Days
0,ET,456849,2019-04-24,3.0,5.0,7.0,2019-10-14,7.0,5.0,7.0,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,569,569
1,ET,490916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,221,221
2,ET,426757,2019-03-13,2.0,3.0,4.0,2020-08-12,6.0,7.0,7.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,533,533
3,ET,480611,2020-05-28,2.0,5.0,1.0,2020-11-09,5.0,6.0,3.0,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,298,298
4,ET,492863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,147,147

In [90]:
pd.to_datetime(ECO_with_Exit20_21_Actual['Exit Date'], format='%Y/%m/%d')

pd.to_datetime(ECO_with_Exit20_21_Actual['Initial IFSP Date'], format='%Y/%m/%d')

0      2019-04-24
1      2020-11-02
2      2019-03-13
3      2020-05-28
4      2020-12-02
          ...
8436   2017-09-29
8437   2019-04-05
8438   2021-02-23
8439   2020-08-25
8440   2019-12-04
Name: Initial IFSP Date, Length: 8441, dtype: datetime64[ns]

In [98]:
ECO_with_Exit20_21_Actual['DOB']

0      2017-11-14
1      2020-01-02
2      2017-08-28
3      2019-11-29
4      2019-01-07
          ...
8436   2017-07-28
8437   2017-08-02
8438   2020-03-25
8439   2020-07-05
8440   2018-01-30
Name: DOB, Length: 8441, dtype: datetime64[ns]

In [100]:
ECO_with_Exit20_21_Actual['child_3rd_birthday']=ECO_with_Exit20_21_Actual['DOB'] + pd.offsets.DateOffset(years=3)

In [97]:
ECO_with_Exit20_21_Actual['DOB']=pd.to_datetime(ECO_with_Exit20_21_Actual['DOB'], format='%Y/%m/%d')

In [102]:
ECO_EXIT_age3=ECO_with_Exit20_21_Actual.loc[(ECO_with_Exit20_21_Actual['Exit Date'] == ECO_with_Exit20_21_Actual['child_3rd_birthday']) | (ECO_with_Exit20_21_Actual['Exit Date'] == ECO_with_Exit20_21_Actual['child_3rd_birthday']-timedelta(days=1))]

In [103]:
ECO_EXIT_age3.loc[ECO_EXIT_age3['Actual_Service_Days'] < 182]

,DISTRICT,CHILD_ID,ECO_Entry_DATE,Ent SOCIAL_SCALE,Ent KNOWLEDGE_SCALE,Ent APPROPRIATE_ACTION_SCALE,ECO_Exit_DATE,Exit SOCIAL_SCALE,Exit KNOWLEDGE_SCALE,Exit APPROPRIATE_ACTION_SCALE,...,OC2 Data Check,OC3 - a,OC3 - b,OC3 - c,OC3 - d,OC3 - e,OC3 Data Check,Days btw Initial and Exit,Actual_Service_Days,child_3rd_birthday
37,ET,486145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,164,164,2021-01-23
141,ET,494512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,5,5,2021-02-09
172,ET,491242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,165,165,2021-04-11
257,SC,492561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,8,8,2021-05-23
310,ET,473717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,176,176,2020-12-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8250,UC,489844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,145,145,2021-03-08
8263,UC,467190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,334,131,2020-07-26
8295,UC,490640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,155,155,2021-04-03
8298,UC,462292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,60,60,2021-01-30
8411,SW,431706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,827,61,2020-08-01

In [105]:
Exit_Reopen=Exit_Notes[Exit_Notes['Exit Note'].str.contains('Exit Date:|Reopened:|Exit Reason:')==True]

In [137]:
Exit_rsn=Exit_Reopen['Exit Note'].str.extractall(pat='Reopened:.*(Exit Reason:.*)')

In [118]:
pd.options.display.max_rows
pd.set_option('display.max_colwidth', None)
pd.reset_option('max_columns')

In [139]:
Exit_rsn_unstack=Exit_rsn.unstack()

In [152]:
Exit_rsn_unstack.shape

(1730, 1)

In [141]:
Exit_rsn_unstack.columns=['Exrsn1']

In [155]:
Exit_rsn_unstack.to_csv('../data/Exit_rsn_unstack.csv')

In [147]:
Exit_rsn_unstack.groupby('Exrsn1').count()

NameError: name 'index' is not defined

In [148]:
Exit_rsn_unstack.reset_index().groupby('Exrsn1').agg(lambda x: x.nunique())

                                                                                                                                                                                             index
Exrsn1
Exit Reason: 618 - Attempts to contact unsuccessful                                                                                                                                            129
Exit Reason: 618 - Attempts to contact unsuccessful 03/25/2021: IFSP Goal Met - Child become no longer eligible for part C.                                                                      1
Exit Reason: 618 - Attempts to contact unsuccessful 10/18/2019- unable to contact                                                                                                                1
Exit Reason: 618 - Attempts to contact unsuccessful 4/3/2020 File Closure: SC allowed ten day PWN, after sending closing letter via certified mail. No contact from family. SC closed file.      1
Exit Reason: 618 - Attempts to contact unsuccessful 8/24/2020: File closed; unable to contact family                                                                                             1
...                                                                                                                                                                                            ...
Exit Reason: Unable to contact Tenncare #97043719053 SSN 694698937                                                                                                                               1
Exit Reason: Unable to contact close date: 7-16-2019, unable to contact family                                                                                                                   1
Exit Reason: Unable to contact closed 11/15/2018 no contact reopened 1/30/2019 parent request                                                                                                    1
Exit Reason: Unable to contact closed 7/24/18 due to inability to reach family                                                                                                                   1
Exit Reason: parent withdraw (medical)                                                                                                                                                           1

[199 rows x 1 columns]

In [151]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Attempts to contact unsuccessful')==True]

                                                                                 Exrsn1
157                                 Exit Reason: 618 - Attempts to contact unsuccessful
170                                 Exit Reason: 618 - Attempts to contact unsuccessful
189                                 Exit Reason: 618 - Attempts to contact unsuccessful
190                                 Exit Reason: 618 - Attempts to contact unsuccessful
271                                 Exit Reason: 618 - Attempts to contact unsuccessful
...                                                                                 ...
2152                                Exit Reason: 618 - Attempts to contact unsuccessful
2165                                Exit Reason: 618 - Attempts to contact unsuccessful
2185                                Exit Reason: 618 - Attempts to contact unsuccessful
2195  Exit Reason: 618 - Attempts to contact unsuccessful 10/18/2019- unable to contact
2198                                Exit Reason: 618 - Attempts to contact unsuccessful

[148 rows x 1 columns]

In [153]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Unable to contact')==True]

                              Exrsn1
16    Exit Reason: Unable to contact
21    Exit Reason: Unable to contact
30    Exit Reason: Unable to contact
52    Exit Reason: Unable to contact
55    Exit Reason: Unable to contact
...                              ...
2176  Exit Reason: Unable to contact
2178  Exit Reason: Unable to contact
2179  Exit Reason: Unable to contact
2188  Exit Reason: Unable to contact
2194  Exit Reason: Unable to contact

[441 rows x 1 columns]

In [157]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Parent withdraw')==True]

                                                                                                                    Exrsn1
8                                                                                       Exit Reason: 618 - Parent withdraw
22                                                                                      Exit Reason: 618 - Parent withdraw
81                                                                                      Exit Reason: 618 - Parent withdraw
82                                                                                      Exit Reason: 618 - Parent withdraw
126                                                                                     Exit Reason: 618 - Parent withdraw
...                                                                                                                    ...
2192                                                                                    Exit Reason: 618 - Parent withdraw
2193  Exit Reason: 618 - Parent withdraw Child file transferred to ET on 12/20/20; refer to contact log notes for details.
2223                                                                                    Exit Reason: 618 - Parent withdraw
2227                                                                                    Exit Reason: 618 - Parent withdraw
2233                                Exit Reason: 618 - Parent withdraw PWN signed on 5/24/18 during May TCM to close file.

[308 rows x 1 columns]

In [156]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Completion of IFSP')==True]

                                                                                                                                                                                                                                                                                                            Exrsn1
86                                                                                                                                                                                                                                              Exit Reason: 618 - Completion of IFSP/ no longer requires services
657                                                                                                                                                                                                                                             Exit Reason: 618 - Completion of IFSP/ no longer requires services
878                                                                                                                                                                     Exit Reason: 618 - Completion of IFSP/ no longer requires services 02/20/2020: IFSP Goal Met - Child become no longer eligible for part C.
1694  Exit Reason: 618 - Completion of IFSP/ no longer requires services Family and LEA stated that child was not eligible for services. Discussed Head Start with family and they wanted to keep him in the daycare he has been attending 10/25/2019: IFSP Goal Met - Child become no longer eligible for part C.
2015                                                                                                                                                                                                                                            Exit Reason: 618 - Completion of IFSP/ no longer requires services

In [158]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Moved out of state')==True]

                                                                                                                                                                                       Exrsn1
643                                                                                                                                                     Exit Reason: 618 - Moved out of state
700                              Exit Reason: 618 - Moved out of state Date Closed: 12/14/2018 Family is moving to Texas; SC (HW) texted mother website for Texas early intervention program.
816                                                                                                                                                     Exit Reason: 618 - Moved out of state
917                                                                                                                                                     Exit Reason: 618 - Moved out of state
946                                                                                                                                                     Exit Reason: 618 - Moved out of state
997                                                                                                                                                     Exit Reason: 618 - Moved out of state
1024                                                                                                                                                    Exit Reason: 618 - Moved out of state
1028                                                                                                                                                    Exit Reason: 618 - Moved out of state
1029                                                                                                                                                    Exit Reason: 618 - Moved out of state
1169                                                                                                                                                    Exit Reason: 618 - Moved out of state
1271                                                                                                                                                    Exit Reason: 618 - Moved out of state
1306           Exit Reason: 618 - Moved out of state SC sent out the closing letter to the family and never got it back. SC will close on this date as SC never made contact with the family.
1546                                                                                                                                                    Exit Reason: 618 - Moved out of state
1650                                                                                                                                                    Exit Reason: 618 - Moved out of state
1800                                                                                                                                                    Exit Reason: 618 - Moved out of state
1811                                                                                                                                                    Exit Reason: 618 - Moved out of state
1837                                                                                                                                                    Exit Reason: 618 - Moved out of state
1947                                                                                                                                                    Exit Reason: 618 - Moved out of state
1958                                                                                                                                                    Exit Reason: 618 - Moved out of state
1984                                                                                                                                                    Exit Reason: 618 - Moved out of state
1985                                                                                                                                                    Exit Reason: 618 - Moved out of state
2012                                                                                                                                                    Exit Reason: 618 - Moved out of state
2075  Exit Reason: 618 - Moved out of state SC closed file on 8/5/2020 . Mom expressed to DT that she moved out of state. SC hasn't been able to reach mom and no current address is on file.
2112                        Exit Reason: 618 - Moved out of state Child was admitted into the hospital in Alabama for a long term stay. File is closed for now until his return to Tennessee.
2153                                                                                                                                                    Exit Reason: 618 - Moved out of state
2163                                                                                                                                                    Exit Reason: 618 - Moved out of state
2164                                                                                                                                                    Exit Reason: 618 - Moved out of state
2184                                                                                                                                                    Exit Reason: 618 - Moved out of state

In [159]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('COVID')==True]

                                                                                                                                                                                        Exrsn1
926                                  Exit Reason: 618 - Parent withdraw 7/6/2020- Part B eligibility not determined due to school closure and suspension of face to face meetings for COVID-19
1285                                                                                                                      Exit Reason: Unable to contact Part B not determined due to COVID-19
1311                                                                                    Exit Reason: Ineligible for Part C 8-8-2020: Part B eligibility not yet determined due to COVID delays
1432                                                                                    Exit Reason: 618 - Part B eligibility not determined due COVID-19 NO FACE TO FACE MEETINGS - SC DO NOT
1481                                                                                             Exit Reason: Unable to contact Due to COVID-19 LEA unable to test and determine Eligibility .
1534  Exit Reason: Ineligible for Part C 8-8-2020 Part B eligibility not yet determined due to TPC being cancelled due to COVID in the Spring and then due to LEA being closed for the summer.
1567                                                         Exit Reason: 618 - Parent withdraw 8-4-2020- Part B eligibility not yet determined due to COVID and LEA being out for the summer.
2088                   Exit Reason: 618 - Part B eligibility not determined TPC occured after the due date, due to the COVID-19 Pandemic, and parents wishes to halt services during pandemic.

In [160]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Parent decline')==True]

                                                                                                                                          Exrsn1
44                                                                                                                   Exit Reason: Parent decline
59    Exit Reason: Parent decline 9/12/19- SC met with Deysi, Carolina, and Interpreter at family home. Carolina declined services. File closed.
62                                                                                                                   Exit Reason: Parent decline
96                                                                                                                   Exit Reason: Parent decline
133                                                                                                                  Exit Reason: Parent decline
...                                                                                                                                          ...
2181                                                                                                                 Exit Reason: Parent decline
2182                                                                                                                 Exit Reason: Parent decline
2183                                                                                                                 Exit Reason: Parent decline
2189                                                                                        Exit Reason: Parent decline 8.22.17 - parent decline
2243                                       Exit Reason: Parent decline 6/25/19 CLOSED DUE TO PARENT DECLINE 7/18/19 RE-OPENED PER PARENT REQUEST

[429 rows x 1 columns]

In [161]:
Exit_rsn_unstack[Exit_rsn_unstack.Exrsn1.str.contains('Ineligible for Part C')==True]

                                  Exrsn1
5     Exit Reason: Ineligible for Part C
12    Exit Reason: Ineligible for Part C
25    Exit Reason: Ineligible for Part C
84    Exit Reason: Ineligible for Part C
193   Exit Reason: Ineligible for Part C
...                                  ...
2173  Exit Reason: Ineligible for Part C
2187  Exit Reason: Ineligible for Part C
2196  Exit Reason: Ineligible for Part C
2222  Exit Reason: Ineligible for Part C
2232  Exit Reason: Ineligible for Part C

[254 rows x 1 columns]