In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
exit_data = pd.read_csv('../data/exit_data.csv')

In [3]:
exit_data.head()

,POE,Child ID,DOB,Notification Date,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Days from I-IFSP to Exit,Exit Note
0,UC,471738,2/28/2019,10/17/2019,10/29/2019,10/31/2019,5/12/2020,618 - Parent withdraw,9/21/2020,326,* No Exit ECO available due to COVID-19
1,FT,449030,7/22/2018,11/7/2018,12/3/2018,12/18/2018,3/4/2021,618 - Moved out of state,3/6/2021,809,"***family moving out of state March 2021, and ..."
2,FT,463311,7/9/2017,5/24/2019,6/19/2019,7/2/2019,6/22/2020,618 - Part B eligibility not determined,7/8/2020,372,**Completed the transition planning conference...
3,FT,463313,7/9/2017,5/24/2019,6/19/2019,7/2/2019,6/22/2020,618 - Part B eligibility not determined,7/8/2020,372,**Completed the transition planning conference...
4,FT,469194,8/31/2017,9/4/2019,10/2/2019,10/11/2019,5/26/2020,618 - Part B eligibility not determined,8/30/2020,324,**Due to the impact of the COVID-19 pandemic a...

In [4]:
exit_data.shape

(5582, 11)

In [5]:
exit_subset = exit_data[['Child ID', 'Initial IFSP Date', 'Exit Date', 'Days from I-IFSP to Exit', 'Exit Note']]

In [6]:
exit_subset.head(10)

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,Exit Note
0,471738,10/31/2019,9/21/2020,326,* No Exit ECO available due to COVID-19
1,449030,12/18/2018,3/6/2021,809,"***family moving out of state March 2021, and ..."
2,463311,7/2/2019,7/8/2020,372,**Completed the transition planning conference...
3,463313,7/2/2019,7/8/2020,372,**Completed the transition planning conference...
4,469194,10/11/2019,8/30/2020,324,**Due to the impact of the COVID-19 pandemic a...
5,473474,5/6/2020,11/4/2020,182,**LEA county on the Transition page and demogr...
6,460887,5/29/2019,7/18/2020,416,*Continuation of Transition Meeting Conference...
7,480267,4/30/2020,1/19/2021,264,01/19/2021- File closed. Parent withdraw due t...
8,469243,10/2/2019,2/11/2021,498,02-11-2021 – PWN signed and returned for volun...
9,438070,7/24/2018,5/21/2021,1032,03/19/2021: The Transition Planning Conference...

In [7]:
exit_subset.shape

(5582, 5)

In [8]:
exit_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5582 entries, 0 to 5581
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Child ID                  5582 non-null   int64
 1   Initial IFSP Date         5582 non-null   object
 2   Exit Date                 5582 non-null   object
 3   Days from I-IFSP to Exit  5582 non-null   int64
 4   Exit Note                 2251 non-null   object
dtypes: int64(2), object(3)
memory usage: 218.2+ KB

In [9]:
exit_subset['Exit Note'].str.title()

0                 * No Exit Eco Available Due To Covid-19
1       ***Family Moving Out Of State March 2021, And ...
2       **Completed The Transition Planning Conference...
3       **Completed The Transition Planning Conference...
4       **Due To The Impact Of The Covid-19 Pandemic A...
                              ...
5577                                                  NaN
5578                                                  NaN
5579                                                  NaN
5580                                                  NaN
5581                                                  NaN
Name: Exit Note, Length: 5582, dtype: object

In [10]:
exit_subset['Exit Note'] = exit_subset['Exit Note'].str.title()
exit_subset.head(15)

C:\Users\forte\AppData\Local\Temp/ipykernel_18692/1937216441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_subset['Exit Note'] = exit_subset['Exit Note'].str.title()

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,Exit Note
0,471738,10/31/2019,9/21/2020,326,* No Exit Eco Available Due To Covid-19
1,449030,12/18/2018,3/6/2021,809,"***Family Moving Out Of State March 2021, And ..."
2,463311,7/2/2019,7/8/2020,372,**Completed The Transition Planning Conference...
3,463313,7/2/2019,7/8/2020,372,**Completed The Transition Planning Conference...
4,469194,10/11/2019,8/30/2020,324,**Due To The Impact Of The Covid-19 Pandemic A...
5,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
6,460887,5/29/2019,7/18/2020,416,*Continuation Of Transition Meeting Conference...
7,480267,4/30/2020,1/19/2021,264,01/19/2021- File Closed. Parent Withdraw Due T...
8,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
9,438070,7/24/2018,5/21/2021,1032,03/19/2021: The Transition Planning Conference...
10,446165,10/29/2018,3/31/2021,884,03/31/2021-Closed File Due To Parent Request.
11,446306,10/29/2018,3/31/2021,884,03/31/2021-Closed File Due To Parent Request.
12,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
13,481690,6/15/2020,4/7/2021,296,04/07/2021 - File Closed Due To Aging Out Of T...
14,473841,1/6/2020,4/13/2021,463,04/13/2021 File Closed Due To Parent Request

In [11]:
exit_subset['Exit Note'] = exit_subset['Exit Note'].astype(str)

C:\Users\forte\AppData\Local\Temp/ipykernel_18692/1906860488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exit_subset['Exit Note'] = exit_subset['Exit Note'].astype(str)

In [12]:
exit_subset[exit_subset['Exit Note'].str.contains("Reopened")]

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,Exit Note
5,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
8,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
12,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
16,474102,4/9/2020,5/10/2021,396,05/10/2021 Tpc Held Then Parents Withdrew From...
21,476958,8/24/2020,5/25/2021,274,05/25/21- Parent Withdraw Reopened: 08/04/2020...
...,...,...,...,...,...
2224,469136,10/23/2019,10/23/2020,366,"The Family Ended Teis Services, And Requested ..."
2228,432033,4/25/2018,12/29/2020,979,The Tpc Was Late Due To Lea Getting Covid And ...
2232,469330,5/13/2020,2/18/2021,281,Tpc 10/19/2020 Reopened: 03/05/2020 Exit Date:...
2233,428532,1/26/2018,7/12/2020,898,Tpc Held And Further Assessments Agreed To; Pa...
2243,463610,8/12/2019,8/8/2020,362,Tpc Was Late Due To Sc'S Inability To Get A Re...

In [13]:
Reopened = exit_subset[exit_subset['Exit Note'].str.contains("Reopened")]
Reopened

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,Exit Note
5,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
8,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
12,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
16,474102,4/9/2020,5/10/2021,396,05/10/2021 Tpc Held Then Parents Withdrew From...
21,476958,8/24/2020,5/25/2021,274,05/25/21- Parent Withdraw Reopened: 08/04/2020...
...,...,...,...,...,...
2224,469136,10/23/2019,10/23/2020,366,"The Family Ended Teis Services, And Requested ..."
2228,432033,4/25/2018,12/29/2020,979,The Tpc Was Late Due To Lea Getting Covid And ...
2232,469330,5/13/2020,2/18/2021,281,Tpc 10/19/2020 Reopened: 03/05/2020 Exit Date:...
2233,428532,1/26/2018,7/12/2020,898,Tpc Held And Further Assessments Agreed To; Pa...
2243,463610,8/12/2019,8/8/2020,362,Tpc Was Late Due To Sc'S Inability To Get A Re...

In [14]:
Reopened.reset_index(drop=True)

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,Exit Note
0,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
1,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
2,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
3,474102,4/9/2020,5/10/2021,396,05/10/2021 Tpc Held Then Parents Withdrew From...
4,476958,8/24/2020,5/25/2021,274,05/25/21- Parent Withdraw Reopened: 08/04/2020...
...,...,...,...,...,...
1725,469136,10/23/2019,10/23/2020,366,"The Family Ended Teis Services, And Requested ..."
1726,432033,4/25/2018,12/29/2020,979,The Tpc Was Late Due To Lea Getting Covid And ...
1727,469330,5/13/2020,2/18/2021,281,Tpc 10/19/2020 Reopened: 03/05/2020 Exit Date:...
1728,428532,1/26/2018,7/12/2020,898,Tpc Held And Further Assessments Agreed To; Pa...
1729,463610,8/12/2019,8/8/2020,362,Tpc Was Late Due To Sc'S Inability To Get A Re...

In [15]:
Reopened = Reopened.reset_index(drop=True)
Reopened

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,Exit Note
0,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
1,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
2,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
3,474102,4/9/2020,5/10/2021,396,05/10/2021 Tpc Held Then Parents Withdrew From...
4,476958,8/24/2020,5/25/2021,274,05/25/21- Parent Withdraw Reopened: 08/04/2020...
...,...,...,...,...,...
1725,469136,10/23/2019,10/23/2020,366,"The Family Ended Teis Services, And Requested ..."
1726,432033,4/25/2018,12/29/2020,979,The Tpc Was Late Due To Lea Getting Covid And ...
1727,469330,5/13/2020,2/18/2021,281,Tpc 10/19/2020 Reopened: 03/05/2020 Exit Date:...
1728,428532,1/26/2018,7/12/2020,898,Tpc Held And Further Assessments Agreed To; Pa...
1729,463610,8/12/2019,8/8/2020,362,Tpc Was Late Due To Sc'S Inability To Get A Re...

In [16]:
Reopened = Reopened.rename(columns = {'Exit Note': 'exit_note'})
Reopened.head()

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,exit_note
0,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
1,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
2,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
3,474102,4/9/2020,5/10/2021,396,05/10/2021 Tpc Held Then Parents Withdrew From...
4,476958,8/24/2020,5/25/2021,274,05/25/21- Parent Withdraw Reopened: 08/04/2020...

In [17]:
Reopened.head(15)

,Child ID,Initial IFSP Date,Exit Date,Days from I-IFSP to Exit,exit_note
0,473474,5/6/2020,11/4/2020,182,**Lea County On The Transition Page And Demogr...
1,469243,10/2/2019,2/11/2021,498,02-11-2021 – Pwn Signed And Returned For Volun...
2,436339,2/13/2019,4/1/2021,778,04/01/2021- File Closed Business Day Prior To ...
3,474102,4/9/2020,5/10/2021,396,05/10/2021 Tpc Held Then Parents Withdrew From...
4,476958,8/24/2020,5/25/2021,274,05/25/21- Parent Withdraw Reopened: 08/04/2020...
5,449017,12/12/2018,6/1/2021,902,06/01/2021- File Closed After 10-Day Waiting P...
6,468728,2/14/2020,8/17/2020,185,08/17/2020- File Closed. Child Determined Part...
7,469200,11/13/2019,9/22/2020,314,09/22/2020- Unable To Contact Reopened: 08/26/...
8,477102,4/14/2020,1/20/2021,281,1/20/2021- Parent Withdraw From Program Due To...
9,449847,3/26/2019,10/30/2020,584,10/30/2020- File Closed Due To Child Turning 3...
10,465503,9/12/2019,11/23/2020,438,11/23/2020- File Closed Day Prior To Child'S 3...
11,444906,6/5/2019,11/3/2020,517,11/3/2020- Closed File Due To Parent Withdraw....
12,467228,11/14/2019,12/17/2020,399,12/17/2020- File Closed After 10-Day Waiting P...
13,453185,7/29/2019,12/28/2020,518,12/28/2020- Closed File- See Cl For Notes. Reo...
14,442088,12/10/2018,4/14/2021,856,4/14/2021- Closed File Due To Child'S Third Bi...

In [18]:
re.findall(r'Reopened', 'Reopened.exit_note')

['Reopened']

In [19]:
re.findall(r'(\d+[ -/]\d+[ -/]\d+)','Reopened.exit_note',re.IGNORECASE)

[]

In [20]:
x = Reopened.loc[0, 'exit_note']
x

'**Lea County On The Transition Page And Demographics Page Do Not Match Due To Child Moving Out Of County Following The Transition Meeting. Reopened: 04/06/2020 Exit Date: 11/26/2019 Exit Reason: Ineligible For Part C'

In [21]:
re.findall(r'\d{2}[ -/]\d{2}[ -/]\d{4}', x)

['04/06/2020', '11/26/2019']

In [22]:
re.findall(r'Reopened:\s+\d{2}[ -/]\d{2}[ -/]\d{4}', x)

['Reopened: 04/06/2020']

In [23]:
re.findall(r'Exit\sDate:\s+\d{2}[ -/]\d{2}[ -/]\d{4}', x)

['Exit Date: 11/26/2019']

In [24]:
re.findall(r'(\bReopened:\s+\d{2}[ -/]\d{2}[ -/]\d{4}\b)|(\bExit\sDate:\s+\d{2}[ -/]\d{2}[ -/]\d{4}\b)', x)

[('Reopened: 04/06/2020', ''), ('', 'Exit Date: 11/26/2019')]

In [25]:
z = Reopened.loc[5, 'exit_note']
z

'06/01/2021- File Closed After 10-Day Waiting Period. Attempts To Contact Unsuccessful. \nReopened: 02/07/2020 \nExit Date: 12/10/2019 Exit Reason: 618 - Parent Withdraw 12/10/2019: File Closed After 10 Day Waiting Period. Sc And Mother Scheduled Twice To Meet. Both Meetings Cancelled By Mother, And Mother Was Unable To Reschedule. \nReopened: 11/05/2019 \nExit Date: 08/27/2019 Exit Reason: 618 - Attempts To Contact Unsuccessful 8/27/19: Closing Letter Mailed After 2 Ifsp Meetings Cancelled By Mom, And Inability To Contact To Reschedule. File Closed After 10 Day Waiting Period. \nReopened: 07/23/2019 \nExit Date: 05/28/2019 Exit Reason: 618 - Parent Withdraw \nReopened: 05/28/2019 \nExit Date: 05/28/2019 Exit Reason: 618 - Parent Withdraw'

In [26]:
re.findall(r'Reopened:\s+\d+[ -/]\d+[ -/]\d+', z)

['Reopened: 02/07/2020',
 'Reopened: 11/05/2019',
 'Reopened: 07/23/2019',
 'Reopened: 05/28/2019']

In [27]:
re.findall(r'Exit\sDate:\s+\d{2}[ -/]\d{2}[ -/]\d{4}', z)

['Exit Date: 12/10/2019',
 'Exit Date: 08/27/2019',
 'Exit Date: 05/28/2019',
 'Exit Date: 05/28/2019']

In [28]:
Reopened['exit_note'].str.findall('(Reopened:\s+\d{2}[ -/]\d{2}[ -/]\d{4})').head(7)

0                               [Reopened: 04/06/2020]
1                               [Reopened: 02/05/2021]
2                               [Reopened: 01/11/2019]
3                               [Reopened: 02/28/2020]
4                               [Reopened: 08/04/2020]
5    [Reopened: 02/07/2020, Reopened: 11/05/2019, R...
6                               [Reopened: 01/10/2020]
Name: exit_note, dtype: object

In [29]:
Reopened['exit_note'].str.extractall('(Reopened:\s+\d{2}[ -/]\d{2}[ -/]\d{4})').head(10)

                            0
  match
0 0      Reopened: 04/06/2020
1 0      Reopened: 02/05/2021
2 0      Reopened: 01/11/2019
3 0      Reopened: 02/28/2020
4 0      Reopened: 08/04/2020
5 0      Reopened: 02/07/2020
  1      Reopened: 11/05/2019
  2      Reopened: 07/23/2019
  3      Reopened: 05/28/2019
6 0      Reopened: 01/10/2020

In [30]:
Reopened['exit_note'].str.findall(r'Exit\sDate:\s+\d{2}[ -/]\d{2}[ -/]\d{4}').head(7)

0                              [Exit Date: 11/26/2019]
1                              [Exit Date: 04/07/2020]
2                              [Exit Date: 06/17/2018]
3                              [Exit Date: 12/05/2019]
4                              [Exit Date: 03/09/2020]
5    [Exit Date: 12/10/2019, Exit Date: 08/27/2019,...
6                              [Exit Date: 09/27/2019]
Name: exit_note, dtype: object

In [31]:
Reopened['exit_note'].str.extractall('Reopened:\s+(\d{2}[ -/]\d{2}[ -/]\d{4})').unstack().head(10)
## ALL REOPENED DATES

                0
match           0           1           2           3    4    5
0      04/06/2020         NaN         NaN         NaN  NaN  NaN
1      02/05/2021         NaN         NaN         NaN  NaN  NaN
2      01/11/2019         NaN         NaN         NaN  NaN  NaN
3      02/28/2020         NaN         NaN         NaN  NaN  NaN
4      08/04/2020         NaN         NaN         NaN  NaN  NaN
5      02/07/2020  11/05/2019  07/23/2019  05/28/2019  NaN  NaN
6      01/10/2020         NaN         NaN         NaN  NaN  NaN
7      08/26/2020  09/23/2019         NaN         NaN  NaN  NaN
8      03/10/2020         NaN         NaN         NaN  NaN  NaN
9      09/15/2020  02/12/2019         NaN         NaN  NaN  NaN

In [32]:
Reopened['exit_note'].str.extractall(r'Exit\sDate:\s+(\d{2}[ -/]\d{2}[ -/]\d{4})').unstack().head(10)
## ALL EXIT DATES

                0
match           0           1           2           3    4    5
0      11/26/2019         NaN         NaN         NaN  NaN  NaN
1      04/07/2020         NaN         NaN         NaN  NaN  NaN
2      06/17/2018         NaN         NaN         NaN  NaN  NaN
3      12/05/2019         NaN         NaN         NaN  NaN  NaN
4      03/09/2020         NaN         NaN         NaN  NaN  NaN
5      12/10/2019  08/27/2019  05/28/2019  05/28/2019  NaN  NaN
6      09/27/2019         NaN         NaN         NaN  NaN  NaN
7      01/21/2020  09/10/2019         NaN         NaN  NaN  NaN
8      03/06/2020         NaN         NaN         NaN  NaN  NaN
9      07/12/2019  07/12/2019  12/04/2018         NaN  NaN  NaN

In [33]:
early_exit = Reopened['exit_note'].str.extractall(r'Exit\sDate:\s+(\d{2}[ -/]\d{2}[ -/]\d{4})').unstack()
early_exit.head(15)

                0
match           0           1           2           3    4    5
0      11/26/2019         NaN         NaN         NaN  NaN  NaN
1      04/07/2020         NaN         NaN         NaN  NaN  NaN
2      06/17/2018         NaN         NaN         NaN  NaN  NaN
3      12/05/2019         NaN         NaN         NaN  NaN  NaN
4      03/09/2020         NaN         NaN         NaN  NaN  NaN
5      12/10/2019  08/27/2019  05/28/2019  05/28/2019  NaN  NaN
6      09/27/2019         NaN         NaN         NaN  NaN  NaN
7      01/21/2020  09/10/2019         NaN         NaN  NaN  NaN
8      03/06/2020         NaN         NaN         NaN  NaN  NaN
9      07/12/2019  07/12/2019  12/04/2018         NaN  NaN  NaN
10     07/11/2019         NaN         NaN         NaN  NaN  NaN
11     10/26/2018         NaN         NaN         NaN  NaN  NaN
12     08/10/2020  09/12/2019         NaN         NaN  NaN  NaN
13     09/11/2020  01/28/2019         NaN         NaN  NaN  NaN
14     08/27/2018         NaN         NaN         NaN  NaN  NaN

In [34]:
reopen_dates = Reopened['exit_note'].str.extractall('Reopened:\s+(\d{2}[ -/]\d{2}[ -/]\d{4})').unstack()
reopen_dates.head(15)

                0
match           0           1           2           3    4    5
0      04/06/2020         NaN         NaN         NaN  NaN  NaN
1      02/05/2021         NaN         NaN         NaN  NaN  NaN
2      01/11/2019         NaN         NaN         NaN  NaN  NaN
3      02/28/2020         NaN         NaN         NaN  NaN  NaN
4      08/04/2020         NaN         NaN         NaN  NaN  NaN
5      02/07/2020  11/05/2019  07/23/2019  05/28/2019  NaN  NaN
6      01/10/2020         NaN         NaN         NaN  NaN  NaN
7      08/26/2020  09/23/2019         NaN         NaN  NaN  NaN
8      03/10/2020         NaN         NaN         NaN  NaN  NaN
9      09/15/2020  02/12/2019         NaN         NaN  NaN  NaN
10     08/01/2019         NaN         NaN         NaN  NaN  NaN
11     04/25/2019         NaN         NaN         NaN  NaN  NaN
12     10/13/2020  11/01/2019         NaN         NaN  NaN  NaN
13     12/01/2020  07/22/2019         NaN         NaN  NaN  NaN
14     11/19/2018         NaN         NaN         NaN  NaN  NaN

In [35]:
reopen_dates = pd.DataFrame(data=reopen_dates, dtype=np.datetime64)
reopen_dates

               0
match          0   1   2   3   4   5
0     2020-04-06 NaT NaT NaT NaT NaT
1     2021-02-05 NaT NaT NaT NaT NaT
2     2019-01-11 NaT NaT NaT NaT NaT
3     2020-02-28 NaT NaT NaT NaT NaT
4     2020-08-04 NaT NaT NaT NaT NaT
...          ...  ..  ..  ..  ..  ..
1725  2020-07-28 NaT NaT NaT NaT NaT
1726  2019-02-05 NaT NaT NaT NaT NaT
1727  2020-03-05 NaT NaT NaT NaT NaT
1728  2018-10-25 NaT NaT NaT NaT NaT
1729  2019-07-19 NaT NaT NaT NaT NaT

[1730 rows x 6 columns]

In [36]:
early_exit = pd.DataFrame(data=early_exit, dtype=np.datetime64)
early_exit

               0
match          0   1   2   3   4   5
0     2019-11-26 NaT NaT NaT NaT NaT
1     2020-04-07 NaT NaT NaT NaT NaT
2     2018-06-17 NaT NaT NaT NaT NaT
3     2019-12-05 NaT NaT NaT NaT NaT
4     2020-03-09 NaT NaT NaT NaT NaT
...          ...  ..  ..  ..  ..  ..
1725  2020-04-26 NaT NaT NaT NaT NaT
1726  2018-10-23 NaT NaT NaT NaT NaT
1727  2019-09-17 NaT NaT NaT NaT NaT
1728  2018-05-24 NaT NaT NaT NaT NaT
1729  2019-06-25 NaT NaT NaT NaT NaT

[1730 rows x 6 columns]

In [37]:
early_exit.columns = ['ee_0', 'ee_1', 'ee_2', 'ee_3', 'ee_4', 'ee_5']
early_exit.head(10)

        ee_0       ee_1       ee_2       ee_3 ee_4 ee_5
0 2019-11-26        NaT        NaT        NaT  NaT  NaT
1 2020-04-07        NaT        NaT        NaT  NaT  NaT
2 2018-06-17        NaT        NaT        NaT  NaT  NaT
3 2019-12-05        NaT        NaT        NaT  NaT  NaT
4 2020-03-09        NaT        NaT        NaT  NaT  NaT
5 2019-12-10 2019-08-27 2019-05-28 2019-05-28  NaT  NaT
6 2019-09-27        NaT        NaT        NaT  NaT  NaT
7 2020-01-21 2019-09-10        NaT        NaT  NaT  NaT
8 2020-03-06        NaT        NaT        NaT  NaT  NaT
9 2019-07-12 2019-07-12 2018-12-04        NaT  NaT  NaT

In [38]:
reopen_dates.columns = ['reo_0', 'reo_1', 'reo_2', 'reo_3', 'reo_4', 'reo_5']
reopen_dates

          reo_0 reo_1 reo_2 reo_3 reo_4 reo_5
0    2020-04-06   NaT   NaT   NaT   NaT   NaT
1    2021-02-05   NaT   NaT   NaT   NaT   NaT
2    2019-01-11   NaT   NaT   NaT   NaT   NaT
3    2020-02-28   NaT   NaT   NaT   NaT   NaT
4    2020-08-04   NaT   NaT   NaT   NaT   NaT
...         ...   ...   ...   ...   ...   ...
1725 2020-07-28   NaT   NaT   NaT   NaT   NaT
1726 2019-02-05   NaT   NaT   NaT   NaT   NaT
1727 2020-03-05   NaT   NaT   NaT   NaT   NaT
1728 2018-10-25   NaT   NaT   NaT   NaT   NaT
1729 2019-07-19   NaT   NaT   NaT   NaT   NaT

[1730 rows x 6 columns]

In [39]:
early_exit.join(reopen_dates).head(10)

,ee_0,ee_1,ee_2,ee_3,ee_4,ee_5,reo_0,reo_1,reo_2,reo_3,reo_4,reo_5
0,2019-11-26,NaT,NaT,NaT,NaT,NaT,2020-04-06,NaT,NaT,NaT,NaT,NaT
1,2020-04-07,NaT,NaT,NaT,NaT,NaT,2021-02-05,NaT,NaT,NaT,NaT,NaT
2,2018-06-17,NaT,NaT,NaT,NaT,NaT,2019-01-11,NaT,NaT,NaT,NaT,NaT
3,2019-12-05,NaT,NaT,NaT,NaT,NaT,2020-02-28,NaT,NaT,NaT,NaT,NaT
4,2020-03-09,NaT,NaT,NaT,NaT,NaT,2020-08-04,NaT,NaT,NaT,NaT,NaT
5,2019-12-10,2019-08-27,2019-05-28,2019-05-28,NaT,NaT,2020-02-07,2019-11-05,2019-07-23,2019-05-28,NaT,NaT
6,2019-09-27,NaT,NaT,NaT,NaT,NaT,2020-01-10,NaT,NaT,NaT,NaT,NaT
7,2020-01-21,2019-09-10,NaT,NaT,NaT,NaT,2020-08-26,2019-09-23,NaT,NaT,NaT,NaT
8,2020-03-06,NaT,NaT,NaT,NaT,NaT,2020-03-10,NaT,NaT,NaT,NaT,NaT
9,2019-07-12,2019-07-12,2018-12-04,NaT,NaT,NaT,2020-09-15,2019-02-12,NaT,NaT,NaT,NaT

In [40]:
ee_and_reo = early_exit.join(reopen_dates)
ee_and_reo

,ee_0,ee_1,ee_2,ee_3,ee_4,ee_5,reo_0,reo_1,reo_2,reo_3,reo_4,reo_5
0,2019-11-26,NaT,NaT,NaT,NaT,NaT,2020-04-06,NaT,NaT,NaT,NaT,NaT
1,2020-04-07,NaT,NaT,NaT,NaT,NaT,2021-02-05,NaT,NaT,NaT,NaT,NaT
2,2018-06-17,NaT,NaT,NaT,NaT,NaT,2019-01-11,NaT,NaT,NaT,NaT,NaT
3,2019-12-05,NaT,NaT,NaT,NaT,NaT,2020-02-28,NaT,NaT,NaT,NaT,NaT
4,2020-03-09,NaT,NaT,NaT,NaT,NaT,2020-08-04,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
1725,2020-04-26,NaT,NaT,NaT,NaT,NaT,2020-07-28,NaT,NaT,NaT,NaT,NaT
1726,2018-10-23,NaT,NaT,NaT,NaT,NaT,2019-02-05,NaT,NaT,NaT,NaT,NaT
1727,2019-09-17,NaT,NaT,NaT,NaT,NaT,2020-03-05,NaT,NaT,NaT,NaT,NaT
1728,2018-05-24,NaT,NaT,NaT,NaT,NaT,2018-10-25,NaT,NaT,NaT,NaT,NaT
1729,2019-06-25,NaT,NaT,NaT,NaT,NaT,2019-07-19,NaT,NaT,NaT,NaT,NaT

In [41]:
ee_and_reo.loc[0, 'reo_0'] - ee_and_reo.loc[0, 'ee_0']

Timedelta('132 days 00:00:00')

In [46]:
ee_and_reo['days_inactive_0'] = ""
ee_and_reo['days_inactive_1'] = ""
ee_and_reo['days_inactive_2'] = ""
ee_and_reo['days_inactive_3'] = ""
ee_and_reo['days_inactive_4'] = ""
ee_and_reo['days_inactive_5'] = ""
ee_and_reo['tot_days_inactive'] = ""
ee_and_reo.head(30)

,ee_0,ee_1,ee_2,ee_3,ee_4,ee_5,reo_0,reo_1,reo_2,reo_3,reo_4,reo_5,days_inactive_0,days_inactive_1,days_inactive_2,days_inactive_3,days_inactive_4,days_inactive_5,tot_days_inactive
0,2019-11-26,NaT,NaT,NaT,NaT,NaT,2020-04-06,NaT,NaT,NaT,NaT,NaT,,,,,,,
1,2020-04-07,NaT,NaT,NaT,NaT,NaT,2021-02-05,NaT,NaT,NaT,NaT,NaT,,,,,,,
2,2018-06-17,NaT,NaT,NaT,NaT,NaT,2019-01-11,NaT,NaT,NaT,NaT,NaT,,,,,,,
3,2019-12-05,NaT,NaT,NaT,NaT,NaT,2020-02-28,NaT,NaT,NaT,NaT,NaT,,,,,,,
4,2020-03-09,NaT,NaT,NaT,NaT,NaT,2020-08-04,NaT,NaT,NaT,NaT,NaT,,,,,,,
5,2019-12-10,2019-08-27,2019-05-28,2019-05-28,NaT,NaT,2020-02-07,2019-11-05,2019-07-23,2019-05-28,NaT,NaT,,,,,,,
6,2019-09-27,NaT,NaT,NaT,NaT,NaT,2020-01-10,NaT,NaT,NaT,NaT,NaT,,,,,,,
7,2020-01-21,2019-09-10,NaT,NaT,NaT,NaT,2020-08-26,2019-09-23,NaT,NaT,NaT,NaT,,,,,,,
8,2020-03-06,NaT,NaT,NaT,NaT,NaT,2020-03-10,NaT,NaT,NaT,NaT,NaT,,,,,,,
9,2019-07-12,2019-07-12,2018-12-04,NaT,NaT,NaT,2020-09-15,2019-02-12,NaT,NaT,NaT,NaT,,,,,,,
10,2019-07-11,NaT,NaT,NaT,NaT,NaT,2019-08-01,NaT,NaT,NaT,NaT,NaT,,,,,,,
11,2018-10-26,NaT,NaT,NaT,NaT,NaT,2019-04-25,NaT,NaT,NaT,NaT,NaT,,,,,,,
12,2020-08-10,2019-09-12,NaT,NaT,NaT,NaT,2020-10-13,2019-11-01,NaT,NaT,NaT,NaT,,,,,,,
13,2020-09-11,2019-01-28,NaT,NaT,NaT,NaT,2020-12-01,2019-07-22,NaT,NaT,NaT,NaT,,,,,,,
14,2018-08-27,NaT,NaT,NaT,NaT,NaT,2018-11-19,NaT,NaT,NaT,NaT,NaT,,,,,,,
15,2019-11-07,NaT,NaT,NaT,NaT,NaT,2020-01-06,NaT,NaT,NaT,NaT,NaT,,,,,,,
16,2019-05-28,2019-05-28,2018-11-29,NaT,NaT,NaT,2020-10-06,2019-05-28,2019-03-07,NaT,NaT,NaT,,,,,,,
17,2019-05-28,2018-11-29,NaT,NaT,NaT,NaT,2020-10-06,2019-03-07,NaT,NaT,NaT,NaT,,,,,,,
18,2019-08-07,2018-06-25,NaT,NaT,NaT,NaT,2019-08-13,2019-08-01,NaT,NaT,NaT,NaT,,,,,,,
19,2021-03-30,2020-01-09,NaT,NaT,NaT,NaT,2021-05-20,2020-10-06,NaT,NaT,NaT,NaT,,,,,,,
20,2020-10-22,2019-11-06,NaT,NaT,NaT,NaT,2021-05-20,2020-10-19,NaT,NaT,NaT,NaT,,,,,,,
21,2019-12-23,NaT,NaT,NaT,NaT,NaT,2020-01-08,NaT,NaT,NaT,NaT,NaT,,,,,,,
22,2017-11-16,NaT,NaT,NaT,NaT,NaT,2018-01-18,NaT,NaT,NaT,NaT,NaT,,,,,,,
23,2018-10-29,2018-06-26,NaT,NaT,NaT,NaT,2018-11-15,2018-08-29,NaT,NaT,NaT,NaT,,,,,,,
24,2019-12-06,2019-02-27,NaT,NaT,NaT,NaT,2020-02-14,2019-10-14,NaT,NaT,NaT,NaT,,,,,,,
25,2017-11-29,NaT,NaT,NaT,NaT,NaT,2018-03-27,NaT,NaT,NaT,NaT,NaT,,,,,,,
26,2018-03-14,NaT,NaT,NaT,NaT,NaT,2018-12-06,NaT,NaT,NaT,NaT,NaT,,,,,,,
27,2020-08-28,2020-05-07,2020-03-18,2019-12-12,2019-05-02,NaT,2020-09-15,2020-06-10,2020-03-31,2020-03-04,2019-07-26,NaT,,,,,,,
28,2018-03-08,NaT,NaT,NaT,NaT,NaT,2018-03-09,NaT,NaT,NaT,NaT,NaT,,,,,,,
29,2019-04-16,NaT,NaT,NaT,NaT,NaT,2019-11-26,NaT,NaT,NaT,NaT,NaT,,,,,,,